/*
Base rules — базовые стили. Это стили основных элементов сайта — body, input, button, ul, ol и т.п. 
В этой секции используются в основном селекторы тэгов и атрибутов, классы — в исключительных случаях 
(например, если у вас стилизованные JavaScript’ом селекты);
*/
html
  height 100%
body
  box-sizing border-box
  min-height 100%
  display flex
  flex-direction column
main
  flex 1
  padding 1rem
h1
  font-size(40px)
  font-family Arial