/*
Modules rules — стили модулей, то есть блоков, которые могут использоваться несколько раз на одной странице. 
Для классов модулей не рекомендуется использовать id и селекторы тэгов 
(для многократного использования и независимости от контекста соответственно).
*/

.block-module
  /*style for half-block module*/
  display inline-block
  vertical-align top
  width 400px
  background #cecece
  padding 0 1rem
  margin-right 20px
  border-radius 5px
  h2
    color white
    text-shadow 1px 1px 4px rgba(0,0,0,.3)
  
  