/*
State rules — стили состояния. В этом разделе прописываются различные состояния модулей и скелета сайта. 
Это единственный раздел, в котором допустимо использование ключевого слова «!important» 
(для того, чтобы наверняка перебить предыдущие стили).
*/

.text-center
  text-align center !important
.pull-right
  float right !important
.pull-left
  float left !important
.clearfix:after
  content ''
  display table
  clear both
  

//etc...