/*
Theme rules — оформление. Здесь описываются стили оформлений, которые со временем, возможно, нужно будет заменить 
(так удобно делать, например, новогоднее оформление); 
для html-тем, выставленных на продажу такие стили позволяют переключать цветовую гамму и т.п.).
*/

.block-module.gradient-background
  background linear-gradient(to bottom, #cecece 70%, #fafafa)
  border 1px solid #cacaca