extends layout

block content
  main
    h1 Inner page.
    .block-module.gradient-background
      h2 It uses:
      ul
        li Jade
        li Stylus
        li CoffeeScript
    .block-module
      h2 TODO:
      ol
        li ES2015 (Babel)
        li Jade == Pug
        li Gulp-Wiredep
